@model List<front.Models.UserXUserViewModel>
@using Auth.Entities

@{
    ViewData["Title"] = "Index";
    var registerUserModel = new front.Models.RegisterUserViewModel();     
    var atualiza = new AtualizaOutroUserModel();
    var associa = new AssociaRolesModel();
}

 
<div class="card-body pt-4 p-3 mb-3">
    <div class="p-3 shadow">
        <h3>Gerenciar meus usuários</h3>
        <div class="row">           

            <div class="col-md-6">
                <!-- Coluna dos filtros -->                
                <form class="card-body shadow-sm mb-3" id="filtarForm">
                    <h5 class="mb-4">Filtros</h5>

                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="cpf">CPF</label>
                            <input type="text" class="form-control" id="cpf" placeholder="Digite o CPF">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Digite o Email">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="codigoUnico">Código Único</label>
                            <input type="text" class="form-control" id="codigoUnico" placeholder="Digite o Código Único">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="nome">Nome</label>
                            <input type="text" class="form-control" id="nome" placeholder="Digite o Nome">
                        </div>
                        <div class="mb-3">
                            <label for="roleSelect" class="form-label">Filtrar por função</label>
                            <select class="form-select" id="roleSelect">
                                <option value="">Escolha uma função</option>
                                <option value="@UserRoles.TecnicoGeral">Técnico Geral</option>
                                <option value="@UserRoles.Fiscais">Fiscais</option>
                                <option value="@UserRoles.Reporter">Reporter</option>
                                <option value="@UserRoles.TecnicoHidraulica">Técnico Hidráulica</option>
                                <option value="@UserRoles.TecnicoEletrica">Técnico Eletrica</option>
                            </select>
                        </div> 
                        <div class="mx-auto d-block text-center gap-2">
                            <button class="btn btn-primary" style="max-width:100px;" type="button" onclick="chamaFiltro()">
                                Filtrar
                                <i class="bi bi-search"></i>
                            </button>
                            <button class="btn btn-outline-danger " style="max-width:100px;" type="button" onclick="limpaFiltro()">
                                Limpar
                                <i class="bi bi-x-square"></i>
                            </button>
                        </div>
                          
                    </div>
                </form>
            <!-- Coluna da Lista de Usuários -->
            <partial name="_UserxUserPartial" model="Model"/>       
            </div>
                     

            <!-- Coluna do Formulário -->
            <div class="col-md-3">
                <partial name="_RegisterUserPartial" model="registerUserModel" />
            </div>

            <!-- Coluna do Associa  -->
            <div class="col-md-3" id="stickytypeheader">
                <div class="card p-3 shadow associarolesclass">                    
                    <partial name="_AssociaRolesPartial" model="associa" />
                </div>
             </div>



        </div>
    </div>
</div>

@section Scripts {
       @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        function MostraMsgsuccess() {
            var mensagemSucesso = '@TempData["Sucesso"]';
            if (mensagemSucesso !== '') {
                showSuccessNotification(mensagemSucesso);               
            }
        }

        $(document).ready(function () {
            MostraMsgsuccess();
        });


        function AssociaRoles() {
            var formData = $("#AssociaRolesform").serialize();

            $.ajax({
                url: '@Url.Action("associaRoles", "UserxUser")',
                type: 'POST',
                data: formData,
                success: function (result) {
                    if (result.success === false) {
                        showErrorNotification("Erro ao Associar função!");
                        $('.associarolesclass').html(result.html);
                    } else {
                        filtrarUsuarios()
                            .then(function () {
                                showSuccessNotification('Usuário Atualizado com sucesso');
                                // tem que remover o modal quando da um refresh list ele pega alguma referencia
                                $('#myModal').remove();
                            })
                            .catch(function (error) {
                                showErrorNotification('Error ao Atualizar Usuário');
                            });
                    }
                },
                error: function (xhr, status, error) {
                    //console.error('Erro na requisição:', status, error);
                    showErrorNotification('Erro na requisição');
                }
            });
        }

        function removerRolesUser() {
            var formData = $("#AssociaRolesform").serialize();

            $.ajax({
                url: '@Url.Action("removerRolesUser", "UserxUser")',
                type: 'POST',
                data: formData,
                success: function (result) {
                    if (result.success === false) {
                        showErrorNotification("Erro Remover função!");
                        $('.associarolesclass').html(result.html);
                    } else {
                        filtrarUsuarios()
                            .then(function () {
                                showSuccessNotification('Função removodida');
                                // tem que remover o modal quando da um refresh list ele pega alguma referencia
                                $('#myModal').remove();
                            })
                            .catch(function (error) {
                                showErrorNotification('Error ao remvoer função');
                            });
                    }
                },
                error: function (xhr, status, error) {
                    //console.error('Erro na requisição:', status, error);
                    showErrorNotification('Erro na requisição');
                }
            });
        }

        // função que chama a promisse para remover o modal que buga e aplicarfiltro
        function chamaFiltro() {
            filtrarUsuarios()
                .then(function () {
                    // Tem que remover o modal quando dá um refresh list                    
                    $('#myModal').remove();
                })
                .catch(function (error) {
                    showErrorNotification('Erro ao filtrar usuários');
                });
        }
        // função que chama a promisse para remover o modal que buga e limpar filtro
        function limpaFiltro() {
                $("#cpf").val("");
                $("#email").val("");
                $("#codigoUnico").val("");
                $("#nome").val("");
                $("#roleSelect").val("");

            // Atualizar a URL para remover os parâmetros de consulta
            var urlSemParametros = window.location.href.split('?')[0];
            history.pushState({}, document.title, urlSemParametros);

            filtrarUsuarios()
                .then(function () {
                    // Tem que remover o modal quando dá um refresh list
                    $('#myModal').remove();
                })
                .catch(function (error) {
                    showErrorNotification('Erro ao limpar filtrar usuários');
                });
        }

        // Função para filtrar usuários
        function filtrarUsuarios() {
            return new Promise(function (resolve, reject) {
                var page = new URLSearchParams(window.location.search).get('page') || 1;
                var cpf = $("#cpf").val();
                var email = new URLSearchParams(window.location.search).get('email') || $("#email").val();
                var codigoUnico = $("#codigoUnico").val();
                var nome = $("#nome").val();
                var role = $("#roleSelect").val();

                $.ajax({
                    url: '@Url.Action("GetUserList", "UserxUser")',
                    type: 'GET',
                    data: {
                        page: page,
                        cpf: cpf,
                        email: email,
                        codigoUnico: codigoUnico,
                        nome: nome,
                        roleFIlter: role
                    },
                    success: function (data) {
                        $("#USERXUSER").html(data);
                        resolve();  
                    },
                    error: function (error) {
                        showWarningNotification('Não foi possivel filtrar');
                        reject(error); 
                    }
                });
            });
        }

        

    </script>
    
}


