@model List<front.Models.EdifioxUserModel>
@using Auth.Entities
@{

    var CustomModal = new CustomModalModel
     {
                Title = "Editar Edifícios",
                Id = "testeedificio"
     };

    var AddEdificiosModel = new AdicionarEdificioModel();
    var ResponsavelAddEdificio = new EdificioAdicionarResponsavelModel();

}

<div class="card-body pt-4 p-3 mb-3">
    <div class="p-3 shadow">
        <h3>Gerenciar meus Edifícios</h3>
        <div class="row">
            <div class="col-md-6">
                <!-- Coluna dos filtros -->
                <form class="card-body shadow-sm mb-3" id="filtarForm">
                    <h5 class="mb-4">Filtros</h5>

                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="Nome">Nome</label>
                            <input type="text" class="form-control" id="Nome12" placeholder="Digite o Nome">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="Endereco">Endereço</label>
                            <input type="text" class="form-control" id="Endereco12" placeholder="Digite o Endereço">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="codigoUnico">Código Único</label>
                            <input type="text" class="form-control" id="codigoUnico12" placeholder="Digite o Código Único">
                        </div>
                        <div class="col-md-3 mb-1">
                            <label class="control-label">Responsáveis Disponivel:</label>
                            <div class="input-group">
                                <select class="form-control" id="emailResponsavelaptos">
                                    <option value="">Escolha um Responsável</option>
                                </select>                                
                            </div>
                        </div>
                        <div class="mx-auto d-block text-center gap-2">
                            <button class="btn btn-primary" style="max-width:100px;" type="button" onclick="filtrarEdificios()">
                                Filtrar
                                <i class="bi bi-search"></i>
                            </button>
                            <button class="btn btn-outline-danger " style="max-width:100px;" type="button" onclick="limpaFiltroEdificios()">
                                Limpar
                                <i class="bi bi-x-square"></i>                                
                            </button>
                        </div>

                    </div>
                </form>
                <!-- Coluna da Lista de Usuários que sera redenrizada pelo html PARVIEW -->
                <partial name="_EdificioxUserPartial" model="Model" />
                
            </div>


            <!-- Coluna do Formulário -->
            <div class="col-md-3">
                <div class="card p-3 shadow">  
                    <h5 class="mb-4">Adicionar Edificios</h5>
                    <partial name="_EdficioAdicionarPartial" model="AddEdificiosModel" />
                </div>
            </div>

            <!-- Coluna do Associa  -->
            <div class="col-md-3" id="stickytypeheader">
                <div class="card p-3 shadow">
                    <h5 class="mb-4">Adicionar Responsáveis ao Edificio</h5>
                    <partial name="_EdificioAddResponsavelPartial" model="ResponsavelAddEdificio" />
                </div>
            </div>


        </div>
    </div>
</div>

<partial name="_CustomModal" model="CustomModal" />

<script>

    // Função para filtrar Edificios
    function filtrarEdificios() {
            var page = new URLSearchParams(window.location.search).get('page') || 1;
            var Endereco = $("#Endereco12").val();
            var emailResponsavel = $("#emailResponsavelaptos").val();
            var CodUnico = $("#codigoUnico12").val();
            var nome = $("#Nome12").val();

            $.ajax({
                url: '@Url.Action("GetEdificioList", "EdificiosAtivos")',
                type: 'GET',
                data: {
                    page: page,
                    emailResponsavel: emailResponsavel,
                    Endereco: Endereco,
                    nome: nome,
                    CodUnico: CodUnico 
                },
                success: function (data) {
                    $("#EDIFICIOSXUSER").html(data);  
                },
                error: function (error) {
                    showWarningNotification('Não foi possível filtrar');
                    reject(error);
                }
            });        
    }

    function limpaFiltroEdificios() {
        $("#emailResponsavelaptos").val("");
        $("#Endereco12").val("");
        $("#codigoUnico12").val("");
        $("#Nome12").val("");

        // Atualizar a URL para remover os parâmetros de consulta
        var urlSemParametros = window.location.href.split('?')[0];
        history.pushState({}, document.title, urlSemParametros);

        filtrarEdificios()            
    }   

    // função do adiiconar pegar opções de resposaveis
    function carregarOpcoes() {
        $.ajax({
            url: '@Url.Action("GetResponsaveisPossiveis", "EdificiosAtivos")',
            type: 'GET',
            dataType: 'json',
            success: function (data) {  
                
                $('#ResponsaveisAptosid').find('option').remove();
                $('#emailResponsavelaptos').find('option').remove();
                $('#ResponsaveisAptosAddExtraid').find('option').remove();

                $('#ResponsaveisAptosid').append($('<option>', {
                    value: '',
                    disabled: true,
                    selected: true,
                    hidden: true,
                    text: 'Selecionar Responsável'                   
                }));
                $('#emailResponsavelaptos').append($('<option>', {
                    value: '',
                    disabled: true,
                    selected: true,
                    hidden: true,
                    text: 'Selecionar Responsável'                   
                }));

                $('#ResponsaveisAptosAddExtraid').append($('<option>', {
                    value: '',
                    disabled: true,
                    selected: true,
                    hidden: true,
                    text: 'Selecionar Responsável'
                }));

                // Adicionar opções dinâmicas
                $.each(data, function (index, item) {
                    var option = $('<option>', {
                        value: item.email,
                        text: item.email
                    });

                    // Adicionar a opção ao select #ResponsaveisAptosid
                    $('#ResponsaveisAptosid').append(option.clone());

                    // Adicionar a opção ao select #emailResponsavelaptos
                    $('#emailResponsavelaptos').append(option.clone());
                    
                    // Adicionar a opção ao select #ResponsaveisAptosAddExtraid
                    $('#ResponsaveisAptosAddExtraid').append(option.clone());

                });

                // Adicionar evento de clique para o redirecionamento
                $('#redirecionar-btn').on('click', function () {
                    var selectedEmail = $('#ResponsaveisAptosid').val();
                    if (selectedEmail) {
                        var url = '@Url.Action("Index", "UserxUser")?email=' + selectedEmail;
                        window.location.href = url;
                    }else{
                        var url = '@Url.Action("Index", "UserxUser")';
                        window.location.href = url;
                    }
                });
            },
            error: function (xhr, status, error) {
                console.error('Erro ao carregar opções:', error);
            }
        });
    }

    carregarOpcoes();

    function adicionarResponsavelAoEdificio() {
        var formData = $("#EdificioAdicionarResponsavelForm").serialize();
        $.ajax({
            url: '@Url.Action("adicionarResponsavelAoEdificio", "EdificiosAtivos")',
            type: 'POST',
            data: formData,
            success: function (result) {
                if (result.success === false) {
                    showErrorNotification("Erro ao Adicionar responsavel!");
                    $('#EdificioAdicionarResponsavelForm').html(result.html);  
                    carregarOpcoes();
                } else {
                    showSuccessNotification("Responsavel atribuido ao Edificio!");
                    filtrarEdificios();
                    $('#EdificioAdicionarResponsavelForm')[0].reset();
                }
            },
            error: function (xhr, status, error) {
                showErrorNotification('Erro na requisição');

            }
        });
    }






</script>